:root {

  // Colors
  --gray-900: #111827;
  --black: #000000;
  --red-700: #BE123C;
  --gray-400: #9CA3AF;
  --gray-light: #D1D5DB;
  --gray-opacity-50: rgba(243, 244, 246, 0.5);

  // Spaces
  --gap-card: 12px;
  --gap-list: 52px;

  // Borders
  --border-sm: 12px;
  --border-full: 50%;
}